
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="~/login/login" method="post">
    <label>UserName</label>
    <input type="text" name="UserName" class="form-control" /><br />
    <label>Password</label>
    <input type="password" name="Password" class="form-control" />
    <br />
    <input type="submit" value="Login" class="btn btn-success"/>
</form>