
@{
    ViewBag.Title = "ExamplePartialView";
}

<h2>Student Names</h2>

<h1>Batch1</h1>
<ul>
    <li>Rupesh</li>
    <li>Swathi</li>
    <li>smrithi</li>
    <li>hema</li>
</ul>
<h2>Batch2</h2>

@Html.Partial("_MyPartialView")